<h2>つぶやき一覧</h2>
<P><%= notice %></P>
<% @posts.each do |post| %>
  <table>
    <tr>
      <td><%= post.content %></td>
      <td><%= link_to '編集', edit_post_path(post.id) %></td>
      <td></td>
    </tr>
  </table>
<% end %>
<%= link_to '新しくつぶやく', new_post_path %>
